
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a routerLink="/Home" >Home</a></li>
        <li class="breadcrumb-item"> <a routerLink="/Subjects" >Subjects</a></li>

      <li class="breadcrumb-item active" aria-current="page">Linear-Algebra</li>
    </ol>
  </nav>


  <div class="container">
    <h2 align='center'>Course Content</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Chapters</th>
          <th>Contact Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><p> Vector space, subspace, sum of subspaces, linear
            combination, linear dependence and independence, basis and
            dimension, examples of infinite dimensional spaces, ordered bases and
            coordinates 
               </p></td>
          <td>12</td>

        </tr>
        <tr>
          <td>2</td>
          <td><p>Basic definitions, rank-nullity theorem,
            matrix representation, algebra of linear transformations, change of
            basis, linear functional, Dual Spaces  </p> </td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
          <td><p>Eigen-values of linear operators, Eigen-space,
            minimal polynomial, diagonalisation, invariant subspaces, Jordan
            canonical representation, Norm of a matrix, computation of a matrix
            exponential  </p></td>
            <td>8</td>
        </tr>
      </tbody>
    </table>
  </div>
  
