
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a routerLink="/Home" >Home</a></li>
        <li class="breadcrumb-item"> <a routerLink="/Subjects" >Subjects</a></li>

      <li class="breadcrumb-item active" aria-current="page">Data Structures</li>
    </ol>
  </nav>


  <div class="container">
    <h2 align='center'>Course Content</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Chapters</th>
          <th>Contact Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><p> Introduction to computer systems; number system, integer, signed integer, fixed and floating point representations;
               </p></td>
          <td>12</td>

        </tr>
        <tr>
          <td>2</td>
          <td><p>Pointers; Dynamic data and pointers, dynamic arrays. </p> </td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
          <td><p>Introduction to data structures, use of pointers in linked structures. </p></td>
            <td>8</td>
        </tr>
      </tbody>
    </table>
  </div>
  