<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
      <a routerLink="/Home" class="navbar-brand"><i class="fa fa-exchange"></i> Home</a>

      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
            <li  class="nav-item">
                <a routerLink="/TimeTable" class="nav-link">TimeTable</a>
              </li>
            <li  class="nav-item">
              <a routerLink="/Subjects" class="nav-link">Subjects</a>
            </li>
        </ul>

      </div>
    </div>
  </nav>
  
  
