
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/Home" >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">TimeTable</li>
    </ol>

  </nav>

  
  
  <H1>My Timetable</H1>
<TABLE class="myTimetable" border="5" cellspacing="0" align="center"> 
  <THEAD align="center" height="50" 
  width="100">
    <TR>
      <TH align="center" height="50" 
      width="100">Period</TH>
      <TH align="center" height="50" 
      width="100">Monday</TH>
      <TH align="center" height="50" 
      width="100">Tuesday</TH>
      <TH align="center" height="50" 
      width="100">Wednesday</TH>
      <TH align="center" height="50" 
                width="100">Thursday</TH>
      <TH  align="center" height="50" 
      width="100">Friday</TH>     
    </TR>
  </THEAD>
  <TBODY>
    <TR>
        <td align="center" height="50" 
        width="100">
      <b>I<br>9:00-10:00</b>
    </td>
      <TD>
        <div class="subject">Real Analysis</div>
      
      <TD>
        <div class="subject">Computer Programming</div>
      
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
      
      </TD>
      <TD>        
        <div class="subject">Probability</div>
      
      </TD>
       <TD>        
         <div class="subject">Real Analysis</div>
      
      </TD>     
    </TR>
    <TR>
        <td align="center" height="50" 
        width="100">
        <b>II<br>10:00-11:00</b>
    </td>
      <TD>        
        <div class="subject">Differential Equations</div>
      
      </TD>
      <TD>        
        <div class="subject">Parallel Computing</div>
        
      </TD>
      <TD>        
        <div class="subject">Differential Equations</div>
    
      </TD>
      <TD>        
        <div class="subject">Abstract Algebra</div>
      
      </TD>
      <TD>        
        <div class="subject">Data Structures</div>
     
      </TD>
    </TR>
   
      <TR>
        <td align="center" height="50" 
                width="100">
                <b>III<br>11:00-12:00</b>
            </td>
      <TD>        
        <div class="subject">Data Structures</div>
    
      </TD>
      <TD>        
        <div class="subject">Real Analysis</div>
      
      </TD>
      <TD>        
        <div class="subject">Data Structures</div>
       
      </TD>
      <TD>        
        <div class="subject">Parallel Computing</div>
       
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
      
      </TD>
    </TR>
      <TR>
      <TD colspan="6" class="recess">Recess</TD>
    </TR>
      <TR>
        <td align="center" height="50" 
        width="100">
        <b>IV<br>1:00-2:00</b>
    </td>
      <TD>        
        <div class="subject">Linear Algebra</div>
      
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
        
      </TD>
      <TD>        
        <div class="subject">Linear Algebra</div>
     
      </TD>
      <TD>        
        <div class="subject">Differential Equations
        </div>
      
      </TD>
      <TD>        
        <div class="subject">Linear Algebra</div>
      
      </TD>
    </TR>
      <TR>
        <td align="center" height="50" 
                width="100">
                <b>V<br>2:00-3:00</b>
            </td>
      <TD>        
        <div class="subject">Computer Programming</div>
      
      </TD>
      <TD>        
        <div class="subject">Probability</div>
      
      </TD>
      <TD>        
        <div class="subject">Computer Programming</div>
     
      </TD>
      <TD>        
        <div class="subject">Data Structures</div>
     
      </TD>
      <TD>        
        <div class="subject">Probability</div>
       
      </TD>
    </TR>
    <TR>
        <td align="center" height="50" 
                width="100">
                <b>VI<br>3:00-4:00</b>
            </td>
      <TD>        
        <div class="subject">Abstract Algebra</div>
      
      </TD>
      <TD>        
        <div class="subject">Parallel Computing
        </div>
      
      </TD>
      <TD>        
        <div class="subject">Abstract Algebra</div>
     
      </TD>
      <TD>        
        <div class="subject">DBMS</div>
     
      </TD>
      <TD>        
        <div class="subject">R.E.</div>
       
      </TD>
    </TR>
   </TBODY>
  </TABLE>