

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a routerLink="/Home" >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Subjects</li>
    </ol>
  </nav>


  <div class="container">
    <h2 align='center'>Subjects</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><a routerLink="/parallel">Parallel Computing</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td><a routerLink="/diff">Differential Equations</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td><a routerLink="/linear">Linear Algebra</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td><a routerLink="/abstract">Abstract Algebra</a></td>
          </tr>
          <tr>
            <td>5</td>
            <td><a routerLink="/data">Data Structures</a></td>
          </tr>
          <tr>
            <td>6</td>
            <td><a routerLink="/cpp">Computer Programming</a></td>
          </tr>
          <tr>
            <td>7</td>
            <td><a routerLink="/dbms">DBMS</a></td>
          </tr>
          <tr>
            <td>8</td>
            <td><a routerLink="/prob">Probability</a></td>
          </tr>
          <tr>
            <td>9</td>
            <td><a routerLink="/real">Real Analysis</a></td>
          </tr>
      </tbody>
    </table>
  </div>
  
