<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a routerLink="/Home" >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Subjects</li>
    </ol>
  </nav>
  <div class="container">
    <h2 align='center'>Subjects</h2>
    <table class="table table-striped">
      <thead>
        <tr>
            <th *ngFor = "let column of headers">
                {{column}}
              </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let row of rows">
            <td >
              {{row.ID}}           
            </td>
            <td> <a routerLink=  "/subss"> {{row.Course}}</a></td>
          </tr>
     
      </tbody>
    </table>
  </div>
  
