<app-breadcrumb [myinput]="subs"></app-breadcrumb>
  <div class="container">
    <h2 align='center'>Course Content</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Chapters</th>
          <th>Contact Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><p>Definition and some examples of groups, some preliminary lemmas, subgroups, a counting principle, normal subgroups and Quotient groups.
               </p></td>
          <td>12</td>

        </tr>
        <tr>
          <td>2</td>
          <td><p>Homomorphisms, automorphisms, Cayley's theorem, permutation
            groups, Sylow's theorems.</p> </td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
          <td><p>Definition of field and some examples, the field of Quotients of an
            Integral domain, Euclidean rings, polynomial rings. </p></td>
            <td>8</td>
        </tr>
      </tbody>
    </table>
  </div>
  
